$main-color:#212121;
$secondary-color:#757575;
$third-color:#fff;
$four-color:#2196F3;
$five-color:#F5F4FA;
$six-color:#2F303A;
$seven-color:#eee;
$eight-color:#AFB1B8;
$nine-color:#ECECEC;
$ten-color:#44454e;
$eleven-color:#188CE8;
